@charset "utf-8";

/*reset*/
body, div,header,section,h1,h2,h3,h4,nav,ul,li,footer,p,hr,img, span{margin: 0; padding: 0; box-sizing: border-box;}
.hidden{display: none;}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}
body{background-color: #ffffff; color:#333333}
hr{border: none;}
img{max-width: 100%; vertical-align: middle;}


.wrap{width: 100%; height: 100vh; }
.inner{width: 89.58%; height: 100vh; margin: 0 auto; }