
/*header_top*/
.header_top{width: 100%; height: 42px; position: relative; line-height: 42px; }
.header_top .hd_center{text-align: center;}
.header_top .hd_right{position: absolute; top:0; right:0}
.header_top .hd_right ul{display: flex; gap:16px;}
hr{border-bottom: 1px solid #d8d8d8;}
/*header*/
header{width: 100%; height: 124px; display: flex; justify-content: space-between; align-items: center;} 
.header_right{display: flex; justify-content: flex-end; align-items: center;}
header nav > ul{display: flex; justify-content: space-between; }
header nav > ul > li{margin-right: 48px; font-weight: 700;}
header .user > ul{display: flex; justify-content: space-between;}
header .user > ul >li a i{padding-right: 16px; font-size: 20px;}
.nav_toggle{display: none; font-size: 20px; padding-right: 10px;}

/*container_lg */
#container{width: 100%; max-width: 100%;}
.container_lg{ width: 100%; display: flex; justify-content: space-between; gap:20px; border-radius: 10px; }
.container_lg .item_lg1{width:49.3023%; overflow: hidden; border-radius: 10px; }
.container_lg .item_lg1 img{width: 100%; border-radius: 10px; transition: transform 0.6s ease-in-out; }
.container_lg .item_lg1:hover img{transform: scale(1.1); }
.container_lg .item_right{width: 48.605%; display: flex; flex-direction: column; justify-content: space-between; gap:20px;}
.container_lg .item_right .item_lg2{width: 100%;  border-radius: 10px;overflow: hidden; } 
.container_lg .item_right .item_lg2 img{width: 100%; border-radius: 10px; transition: transform 0.6s ease-in-out;}
.container_lg .item_right .item_lg2:hover img{transform: scale(1.1);}
.container_lg .item_right .item_lg3{width: 100%;  overflow: hidden; border-radius: 10px; } 
.container_lg .item_right .item_lg3 img{width: 100%; max-width: 100%; border-radius: 10px; transition: transform 0.6s ease-in-out; }
.container_lg .item_right .item_lg3:hover img{transform: scale(1.1);}


/*banner */
.banner{width: 74.479%; margin: 0 auto; margin-top: 80px; position: relative;}
.banner .coupon{width: 100%; background-color: #f1f1f1; display: flex; justify-content: space-between; padding: 48px; align-items: center;  }
.banner .coupon .coupon_title{width: 100%;}
.banner .coupon .coupon_title > h4{font-weight: 700; font-size: 2.5rem; line-height: 55px; padding-bottom: 8px; }
.banner .coupon .coupon_btn { overflow: hidden; display: inline-block; background-color: #333333; width:200px;}
.banner .coupon .coupon_btn a{padding:  20px 0;color:#fff; letter-spacing: 0.4rem;  display: block; position: relative; text-align: center; z-index: 999; width: 100%; height: 100%; text-align: center;  }
.banner .coupon .coupon_btn a:after {content: ""; position: absolute; width: 0; height: 100%; top: 0; left: 0; z-index: -1; background-color: rgb(255, 106, 89);
    transition: width 0.3s ease;}
  .banner .coupon .coupon_btn a:hover::after{width: 100%;}

/*container_sm1*/
.container_item_sm{width: 74.479%; margin: 0 auto; margin-top: 80px;}
.container_item_sm .item_title{font-size: 1.4rem; padding-bottom: 44px; font-weight: 600; letter-spacing: 0.33rem; }
.container_sm1{width: 100%; display: flex; justify-content: space-between;   gap:20px;  overflow: hidden; }
.container_sm1 .item{width: 18.675%; height: 316px; position: relative;}
.container_sm1 .item .item_sm{ width: 100%;  }
.container_sm1 .item .item_sm img{width: 100%; border-radius: 5px;}
.container_sm1 .item_price{display: flex; justify-content: space-between; padding-top: 10px;}
.container_sm1 .item_price > span:last-child{font-weight: 600;}
.container_sm1 .item .float_btn {position: absolute; bottom: 50px; left: 50%; transform: translate(-50%,-50%); opacity: 0; visibility: hidden; display: flex; gap: 8px; text-align: center;
    transition: opacity 0.6s ease-in-out, transform 0.4s ease-in-out, visibility 0s linear 0.5s;
}
.container_sm1 .item .float_btn .like_btn,
.container_sm1 .item .float_btn .search_btn { width: 50px; height: 50px; border-radius: 100%; background-color: #fff;}

.container_sm1 .item .float_btn i {text-align: center;line-height: 50px;}

.container_sm1 .item:hover .float_btn {visibility: visible; opacity: 1; transform: translateX(-50%) translateY(-75px); 
transition: opacity 0.6s ease-in-out, transform 0.4s ease-in-out;
}

.container_sm1 .item:not(:hover) .float_btn {opacity: 0; transform: translateX(-50%) translateY(20px); visibility: hidden; transition: opacity 0.6s ease-in-out, transform 0.4s ease-in-out 0.2s, visibility 0s linear 0.8s;
}

/*container_md*/
.container_md{width: 74.479%; display: flex; justify-content: space-between;  margin: 0 auto; margin-top: 60px; gap:30px}
.container_md .item_md{width: 49.160%; border-radius: 10px; overflow: hidden;}
.container_md .item_md > img{width: 100%; border-radius: 10px; transition: transform 0.6s ease-in-out;}
.container_md .item_md:hover > img{transform: scale(1.1);}

/*footer*/
footer{width: 100%; margin-top: 145px; padding-bottom: 150px;}
footer hr{border-bottom: 1px solid #d8d8d8;}
footer > ul{display: flex; justify-content: space-around; gap:20px;  padding-top: 20px;}
footer > ul > li >a{font-weight: 600; font-size: 1.2rem;}
footer .sub{padding-top: 20px;}
footer .sub li a{line-height: 40px; color:#646464}

/*subnav*/
.popup{width:100%; height: 100%; position: fixed; top:0; left:0; background-color: rgba(0, 0, 0, 0.295); display: none;} 
.open_nav{background-color: #fff; position: fixed; top:0; right:-100%; width: 100%; height: 100%; z-index: 9999; transition: right 0.5s ease-in-out; visibility: hidden;}
.subnav_header{display: flex; align-items: center; justify-content: space-between; padding: 30px 50px; box-sizing: border-box;}
.subnav_header a > i{font-size: 28px;}
.subnav_menu{font-size: 2rem; padding-left: 50px; font-weight: 700; display: flex; flex-flow:column; flex-grow: 1;box-sizing: border-box; }
.subnav_menu li{line-height: 60px;}

/*responsive*/
@media screen and (max-width: 1280px) {
    .banner{width: 100%;}
    .banner .coupon .coupon_title > h4{font-weight: 700; font-size: 2.5rem; line-height: 55px; padding-bottom: 8px;}
    .container_item_sm {width: 100%;}
    .container_md{width: 100%;}
    .item_price span{font-size: 0.875rem;}

    
}
@media screen and (max-width: 800px) {
    .hd_center{display: none;}
    nav, .user{display: none;}
    .nav_toggle{display: block;}
    
    .container_lg {
        flex-direction: column;
        margin-bottom: 10px; /* 세로 정렬 */
    }

    .container_lg .item_lg1  {
        width: 100% ; /* 모든 아이템을 100%로 */
        /* height: 486px !important;높이 자동 조정 */
        overflow: hidden;
        height: auto;
    }
    .container_lg .item_right{
        width: 100% ;
    }
    .container_lg .item_lg2, 
    .container_lg .item_lg3{
        width: 100% ;
        height: auto ;

    }
    
    .banner{
        width: 100%;
        
        }
        .banner .coupon .coupon_title > h4{
            font-size: 24px;
        }


    .container_item_sm{
        width: 100% ;
    }
    .container_sm1, .container_sm2{
        width: 100%;
        flex-direction: column;

    }
    .container_sm1 > .item{
        width:100% ;
        height: auto ;
        margin-bottom: 20px;
    }
    
    .container_md{
        width: 100% ;
        flex-direction: column;
    }
    .container_md .item_md {
        width: 100% ;
        height: auto;
        margin-bottom: 20px;
    }

    .coupon{flex-direction: column;
        padding-bottom: 100px;
        background-color: #f1f1f1;
        justify-content: center;
        padding: 20px;
    }
    .coupon_title{
        text-align: center;
    }
    .coupon_title > span{
        line-height: 20px;
    }
    .banner .coupon .coupon_btn{
        text-align: center;
        position: static;
        margin: 20px;

    }
    .banner .coupon .coupon_btn a{
        letter-spacing: 0;
        
  

    }
    .container_item_sm .item_title{text-align: center;}
    .open_nav{
        width: 100%;
        visibility: visible;
    }

    footer{margin-top: 60px;}
    footer > ul{ display: flex; flex-flow: row wrap; }
    footer > ul > li{width: 100% ;}

}
