@charset "utf-8";

/*reset*/
div,
header,
body,
html,
article,
section,
footer,
h1,
h2,
h3,
nav,
ul,
li,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  vertical-align: top;
  object-fit: cover;
}
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #333;
}
#wrap {
  width: 100%;
  min-height: 100vh;
}
html,
body {
  height: 100%;
}
